*{
    margin: O auto;
}

body{
    background-image:url(../img/fond.jpg);
}

header{
    top: 0px;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.musique{
    position: relative;
    right: 0px;
    margin-left: 40px;

}

.title{
    text-align: center;
    margin-bottom: 50px;
    margin: auto 380px;
    font-family: fantasy;
    letter-spacing: 4px;
    font-size: 50px;
    text-shadow: -1px -1px rgb(173, 214, 252), 1px 1px rgb(62, 115, 175), -3px 0 4px rgb(18, 31, 58);
    color: rgb(8, 16, 65);
}

.title{
    text-align: center;
    margin: 50px auto;
    font-family: fantasy;
    letter-spacing: 3px;
    text-shadow: -1px -1px rgb(201, 68, 68), 1px 1px rgb(191, 206, 53), -3px 0 4px #000;
}

            /* MAIN */
        
/* ------ Block informations joueur ------- */

.btn-infos{
    width: 20%;
    height: auto;
    border: 1px solid black;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*------------ Fin block informations joueur -------------*/

/* Bloc test joueur choix*/

.select-perso{
    display: flex;
    justify-content: center;
}

.div-perso{
    border: 1px solid black;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Fin bloc test */

.joueur{
    display: block;
    display: inline-block;
    width: 100%;
    margin: 10px;
    padding: 8px;
}

.imgPerso{
    display: block;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px dashed black; */
    height: 280px;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    /* align-items: center; */
    justify-content: center;
}

#guerrier{
    background-image: url(../img/guerrier.png);
}

#archer{
    background-image: url(../img/archer.png);
}

#ninja{
    background-image: url(../img/ninja.png);
}

#magicien{
    background-image: url(../img/magicien.png);
}

#ogre{
    background-image: url(../img/ogre.png);
}

#gobelin{
    background-image: url(../img/gobelin.png);
}

#esprit{
    background-image: url(../img/esprit.png);
}

.div-perso{
    z-index: 2;
    opacity: 0.6;
}

.div-perso:hover{
    opacity: 1;
    z-index: 3;
    transition: 1.5s;
    border: solid black 3px;
}

.btnPerso{
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 1;
    /* opacity: 0; */
    /* display: none; */
}

.card-title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.section_btnPerso{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.btn_combat{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    margin: auto 70px;

}

.btn_combat:hover{
    color: red;
    background-color: black;
    font-weight: bold;
}


/*Combat*/

.combat{
    margin-top: 30px;
    margin-bottom: 30px ;
    display: none;
    width: 100%;
}

.gameScreen{
    display: flex;
    justify-items: center;
    text-align: center;
    width: 70%;
}

.player{
    width: 45%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/Guerrier.png);
}

.monster{
    width: 45%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/Ogre.png);
}

.horizontale-line{
    bottom: 50%;
    height: 60%;
    border: 1px solid black;
}

/* Fin combat*/


/* Boutique */

.shop{
    display: block;
    width: 20%;
    height: auto;
    border: 1px solid black;
    box-shadow: gray;
    justify-content: center;
    text-align: center;
}

.line{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid black;
}


            /* FOOTER */
footer{
    margin-top: 10px;
    letter-spacing: 2px;
    text-align: justify;
    bottom: 0;
    position: relative;
    font-weight: bold;
    background-color: white;
}