*{
    margin: O auto;
}

body{
    background-image:url(../img/fond.jpg);
}

        /*** HEADER ***/
header{
    top: 0px;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.musique{
    position: relative;
    right: 0px;
    margin-left: 40px;
}

.title{
    text-align: center;
    margin: 50px auto;
    font-family: fantasy;
    letter-spacing: 3px;
    text-shadow: -1px -1px rgb(173, 214, 252), 1px 1px rgb(62, 115, 175), -3px 0 4px rgb(18, 31, 58);
    color: rgb(8, 16, 65);}

            /*** MAIN ***/
/* ------ Block informations joueur ------- */

#main{
    margin: 90px 90px 0px;
}

/* ------ Block informations joueur ------- */

.btn-infos{
    width: 20%;
    height: auto;
    border: 1px solid black;
}

.modal {
    display: none; 
    position: relative; 
    padding-left: 45%;
    padding-right: 40%;
    z-index: 1050; 
    padding-top: 200px; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    background-image: url(../img/Magicien.png);
    background-repeat: no-repeat;
}
  
    /* Modal Content */
.modal-content {
    
    border: 1px solid #888;
    position: relative;
    pointer-events: auto;
    background-color:black;
    font-family: fantasy;
    text-align: center;
    text-transform: uppercase;

} 

#sectInfos{
    display: none;
    padding-left: 80px;
    text-align: center;
    align-items: center;
}

.div-infos{
    width: 25%;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    background-color: rgba(37, 37, 37, 0.801);
    border: 2px solid black;
    border-radius: 10px;
}

/* The Close Button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Boutique */
.shop{
    display: block;
    padding-top: 90px;
    width: 80%;
    margin-left: 170px;
    justify-content: center;
    text-align: center;    
}

.title_shop{
    font-size: 30px;
}

.text_shop{
    font-size: 22px;
}

.image-boutique{
    
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: auto 10px;
}

/*
#MpRest{
    height: 76%;
}
*/

/*------------ Fin block informations joueur -------------*/

/* Bloc joueur choix*/

.show-heroes{
    display: flex;
    justify-content: center;
}

.select-perso{
    display: flex;
    justify-content: center;
}

.div-perso{
    border: 1px solid black;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Fin Bloc joueur choix*/

.joueur{
    display: block;
    display: inline-block;
    width: 100%;
    margin: 10px;
    padding: 8px;
}

.imgPerso{
    display: block;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px dashed black; */
    height: 280px;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
        /* Images */
#guerrier{
    background-image: url(../img/guerrier.png);
}

#archer{
    background-image: url(../img/archer.png);
}

#ninja{
    background-image: url(../img/ninja.png);
}

#magicien{
    background-image: url(../img/magicien.png);
}

#ogre{
    background-image: url(../img/ogre.png);
}

#gobelin{
    background-image: url(../img/gobelin.png);
}

#esprit{
    background-image: url(../img/esprit.png);
}

.div-perso{
    z-index: 2;
    opacity: 0.6;
}

.div-perso:hover{
    opacity: 1;
    z-index: 3;
    transition: 1.5s;
    border: solid black 3px;
}

            /*     BOUTON    */

.btnPerso{
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 1;
    /* display: none; */
}

.card-title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    /* box-shadow: 10px 10px; */
}

.section_btnPerso{
    display: block;
    /* display: inline-block; */
    /* display: none; */
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.div-btn-pre-combat{
    display: none;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.btn-pre-combat{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    margin: auto 70px;
    margin-top: 50px;
}

.btn_combat{
    display: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    margin: auto 70px;
    margin-top: 20px;
}

.btn_combat:hover{
    color: red;
    background-color: black;
    font-weight: bold;
}
            /* FIN BOUTON */

    /*Combat*/

.combat{
    margin-top: 30px;
    display: none;
    width: 100%;
}

.gameScreen{
    display: flex;
    justify-items: center;
    text-align: center;
    width: 150%;
}

.player{
    width: 45%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url(../img/Guerrier.png); */
}

/*Persos*/
.show-is-img-guerrier{
    background-image: url(../img/Guerrier.png);
}

.show-is-img-archer{
    background-image: url(../img/Archer.png);
}

.show-is-img-ninja{
    background-image: url(../img/Ninja.png);
}

.show-is-img-magicien{
    background-image: url(../img/Magicien.png);
}

/*Monstres*/
.show-is-img-ogre{
    background-image: url(../img/Ogre.png);
}

.show-is-img-gobelin{
    background-image: url(../img/Gobelin.png);
}

.show-is-img-esprit{
    background-image: url(../img/Esprit.png);
}

.show-is-img-goule{
    background-image: url(../img/Goule.png);
}

.show-is-img-banshee{
    background-image: url(../img/Banshee.png);
}

.show-is-img-dragon{
    background-image: url(../img/dragon.png);
}

.monster{
    width: 45%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.horizontale-line{
    bottom: 50%;
    height: 75%;
    border: 1px solid black;
}
/* Fin combat*/

.image-weapon{
    background-image: url(../img/shop.png);
}

.image-portect{
    background-image: url(../img/protec.png);
}

.image-magie{
    background-image: url(../img/potion.png);
}

.image-hp{
    background-image: url(../img/hp.jpg);
}

.image-mp{
    background-image: url(../img/mana.png);
}

.line{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

}
            /* Historique des coups */
#affiche_combat{
    width: 90%;
    margin:30px;
    background-color: rgba(37, 37, 37, 0.801);
    z-index: 1;
    padding-left: 15px;
    text-align: justify;
}

.p-hist{
    z-index: 3;
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
}


            /* FOOTER */
footer{
    margin-top: 80px;
    letter-spacing: 2px;
    text-align: center;
    bottom: 0;
    position: relative;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.185);
    color: white;
    /* font-family: fantasy; */
    /* text-shadow: -1px -1px rgb(252, 173, 173), 1px 1px rgb(62, 115, 175), -3px 0 4px rgb(18, 31, 58); */
}